
<!doctype html>
<html>
<head>
        <title>Join Us</title>
        <link href="/css/styles.css" rel="stylesheet">

</head>
<body>
	<div id="header">
		<div id="logo">
			<a href="/"><img src="/images/join-us-new.png"></a>
		</div>
		<div id="nav" class ="navarionBar">
			<ul>
				<li> <a href="/">Sign Up</a></li>
				<li><a href="/login">Log In</a></li>
				<li><a href="/profile">Profile</a></li>
				<li><a href="/event">Event</a></li>
				<li> <a href="/review">Review Past Events</a></li>
			</ul>
		</div>
	</div>
	<div id="wrapper">
        {{{body}}}
 	</div>
</body>
</html>

