<!doctype html>
<html>
<head>
        <title>Join Us</title>
        <link href="/css/styles.css" rel="stylesheet">

</head>
<body>
<div class ="navarionBar">

  <a href="/profile">Profile</a>
  <a href="/event">Event</a>
  <a href="/review">Review</a>

  <a href="/">Sign Up</a>
  <a href="/login">Log In</a>


</div>

        {{{body}}}
</body>
</html>
