 <div class="item group">
    <h3>Your Upcoming Events</h3>
    <ul>
      <li>Event Name: <i>populate event name from the accounts table</i></li>
      <li>Event Date/Time: <i>populate date/time from the events table</i></li>
      <li>Event Address: <i>populate event address from the events table</i></li>
      <li>Total Number of Attendees: <i>populate how many people are attending based on event_attendees table</i>
        <ul>
          <li>
            <span><i>Populate Name based on event_attendees table</i></span>
            <button class="button button-remove" id="removeAttendee">Remove Attendee</button><button class="button button-follow" id="follow">Follow</button>
          </li>
          <li>
            <span><i>Populate Name based on event_attendees table</i></span>
            <button class="button button-remove" id="removeAttendee">Remove Attendee</button><button class="button button-follow" id="follow">Follow</button></li>
          </li>
          <li>
            <span><i>Populate Name based on event_attendees table</i></span>
            <button class="button button-remove" id="removeAttendee">Remove Attendee</button><button class="button button-follow" id="follow">Follow</button></li>
          </li>
        </ul>
      </li>
    </ul>
  </div>
