
<div class="form">
    <div class="tab-content">
      <div id="signup">
        <h1>Sign Up for Free</h1>
        <form action="/add-user" method="post">
          <div class="top-row">
            <div class="field">
              <input name="first_name" placeholder="First Name *" id="fname" type="text" required/>
            </div>
            <div class="field">
              <input name="last_name" placeholder="Last Name *" id="lname" type="text" required/>
            </div>
          </div>
          <div class="field">
            <label>Select Interests *</label>
            <select name="interest_name" id="interests" multiple class="selectOptions" required>
              {{#each groups}}
                <optgroup label={{group_name}}>
                    {{#each results}}
                    {{#ifCond ../group_name '==' interest_groups}}
                    <option value={{name}}>{{replaceUnderscore name}}</option>
                    {{/ifCond}}
                    {{/each}}
                </optgroup>
                {{/each}}
            </select>
          </div>
          <div class="field">
            <select name="social_media_account" id="social" class="socialOptions" required>
              <option value="" selected>Choose other social media account *</option>
              <option value="facebook">Facebook</option>
              <option value="instagram">Instagram</option>
              <option value="linkedin">LinkedIn</option>
              <option value="twitter">Twitter</option>
              <option value="pinterest">Pinterest</option>
              <option value="snapchat">Snapchat</option>
            </select>
          </div>
          <div class="field">
            <select name="gender" id="gender" class="socialOptions" required>
              <option value="" selected>Select Gender *</option>
              <option value="1">Male</option>
              <option value="2">Female</option>
            </select>
          </div>
          <div class="top-row">
            <div class="field">
              <input name="email" placeholder="Email *" id="email_address" type="email" required/>
            </div>
            <div class="field">
              <input name="password" placeholder="Password *" id="pword" type="password" required/>
            </div>
          </div>
          <div class="field">
            <input name="zip_code" placeholder="Zip Code *" id="zipcode" type="number" required/>
          </div>
          <div class="field">
           <label>Birthday *</label> <input name="birthdate" placeholder="MM/DD/YYYY *" id="birthdate" type="date" required/>
          </div>
            <input class="button button-block" type="submit" value="Submit" /> 
          </form>
        </div>
    </div>
</div>

